<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-12">
            <div class="card shadow">
                <div class="card-body">
                    <h1 class="text-color">Battle begins!!</h1>
                    <div>
                        <div  class="timer-container">Timer: {{ formatTime(timerValue) }}</div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-4">
                            <!-- Left section for player-1 -->
                            <app-player-space id="player-1"></app-player-space>
                        </div>
                        <div class="col-4">
                            <!-- Middle section for YouTube song view -->
                            <div class="container song-container">
                                <app-youtube-song-view></app-youtube-song-view>
                            </div>
                            <!-- Upload button -->
                            <button class="btn btn-primary mt-4">
                                UPLOAD
                            </button>
                        </div>
                        <div class="col-4">
                            <!-- Right section for player-2 -->
                            <app-player-space id="player-2"></app-player-space>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
