<h1>Choosing random player</h1>

<div class="container">
    <div class="row mt-7">
        <div class="container container-profile">
            <img class="profile-picture" id="user-profile-picture" src="" alt="Your profile picture">
            <p [innerText]=""></p>
        </div>

        <div class="container container-wait-icon">
            <img class="game-icon" id="waiting-icon" src="../../assets/images/wait.png" alt="Wait icon">
        </div>
        
        <div class="container container-profile">
            <img class="profile-picture" id="opponent-profile-picture" src="" alt="Opponents profile picture">
            <p [innerText]=""></p>
        </div>
    </div>

    <button class="btn btn-primary" (click)="startBattle()">Ready!</button>
</div>


