<div class="container-fluid mt-5">
    <div class="row justify-content-center">
      <div class="col-lg-4">
        <div class="card shadow-lg">
          <div class="card-body">
            <div class="text-center mb-4">
              <h2 class="text-primary">Welcome</h2>
            </div>
            <div class="container">
              <div class="row mb-3">
                <div class="col">
                  <button type="button" class="btn btn-warning btn-block" (click)="startGame()">Start Game</button>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col">
                  <button type="button" class="btn btn-warning btn-block" (click)="profile()">Profile</button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-warning btn-block" (click)="profile2()">Profile</button>
                  </div>
              </div>
              <div class="row">
                <div class="col">
                  <button type="button" class="btn btn-warning btn-block" (click)="register()">Logout</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  